
/*========================*/
/*BASIC SETUP*/
/*========================*/


*
 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;   
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html {
	//background-color: purple;
	color: #555;
	font-family: 'Lato', sans-serif;
	font-family: 'Oregano', cursive;
	font-weight: 300;
	font-size: 18px;
}


// img {
//     width: 100%;
//     height: auto;
// }


/*========================*/
/*REUSABLE ELEMENTS*/
/*========================*/  


.row {
	width: 100%;
    //max-width: 1140px;
    margin: 0 auto;
    display: flex;
}

.container,
.grid {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    //background-color: grey; 
  }



h1 {
	margin: 0 auto;
	font-size: 300%;
	font-weight: 300;
	color: #000;
	text-transform: uppercase;
	padding: 100px 40px 100px 40px;
	letter-spacing: 1px;
	word-spacing: 4px;


}

h2 {
	margin: 0 auto;
	font-size: 200%;
	//font-weight: 300;
	text-transform: uppercase;
	padding: 40px 0;
	letter-spacing: 1px;
	word-spacing: 4px;

}

h3 {
	margin: 0 auto;
	font-size: 180%;
	font-weight: 300;
	text-transform: uppercase;
	//padding: 40px 0;
	letter-spacing: 1px;
	word-spacing: 4px;

}

.clearfix {zoom: 1}
.clearfix:after {
	content: '.';
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}
/*========================*/
/*======= HEADER ==========*/
/*========================*/

header {
	height: 100vh;
}

.header-title {
	//padding-bottom: 10px;
	//margin-bottom: 1px;
	font-size: 350%;
	color: #ebbdf1;
}


.overlay {
    position:absolute;
    top: 40%;
    left: 10%;
    z-index:1;
    //background-color: gray;
}




/*========================*/
/*NAVIGATION*/
/*========================*/



.main-nav {
	background-color: rgba(0,255,0,.3);
	width: 40%;
	color: #fffff;
	list-style: none;
	text-align: center;
	padding: 10px 0 10px 0;
}

.main-nav li {
	display: inline-block;
	padding-right: 50px;
}

.main-nav li a:link,
.main-nav li a:visited {
	padding: 8px 0;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 90%;
	border-bottom: 2px solid transparent;
	transition: border-bottom 5s color 5s;
}

.main-nav li a:hover,
.main-nav li a:active {
	color: yellow;
	border-bottom: 2px solid #e67e22;
}


/*========================*/
/*======= COVERR ==========*/
/*========================*/
.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}


/*========================*/
/*======= CITIES ==========*/
/*========================*/
.featured-box {
	background-color: #fff;
}


.featured-items h1 {
	padding-top: 150px;
}

.span-1-of-4 {
	padding-top: 40px;
}

img {
	width: 100%;
	height: auto;
}


a:link, 
a:visited,
input[type=submit] {
	color: black;
	text-decoration: none;
	border-bottom: 1px solid transparent;
	transition: border-bottom 2s color 2s;
}

a:hover,
a:active,
input[type=submit]:hover,
input[type=submit]:active {
	color: pink;
	border-bottom: 1px solid green;
}


/*========================*/
/*ICONS*/
/*========================*/

.icon-small {
	display: inline-block;
	width: 30px;
	padding: 17px 20px 20px 0;
	text-align: center;
	color: #ebbdf1;
	font-size: 200%;
	margin-right: 10px;
	line-height: 100%;
	vertical-align: middle;
	margin-top: -7px;
}

/*========================*/
/*TOAST*/
/*========================*/
.toast-section {
	background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(images/glasses2.jpg);
	background-size: cover;
	background-attachment: fixed;
	height: 50vh;

}

.toast-section h1 {
	color: white;
}


.toast  {
	text-transform: none;
	margin: 0 auto;
	font-size: 400%;
	font-weight: 300;
	color: #000;
	//text-transform: uppercase;
	padding: 100px 40px 40px 140px;
	letter-spacing: 1px;
	word-spacing: 4px;
}


/*========================*/
/*LOREM*/
/*========================*/
.lorem-section {
	// background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(images/glasses2.jpg);
	// background-size: cover;
	// background-attachment: fixed;
	height: 50vh;

}





/*========================*/
/*======= FORM ==========*/
/*========================*/

.section-form {
	background-color: lightgrey;
	background-color: #ebbdf1;

}


form {
	font-size: 150%;
	width: 50%;
	padding-bottom: 150px;
	margin: 0 auto;
}


input[type=text],
input[type=email],
select,
textarea {
	width: 100%;
	padding: 7px;
	border-radius: 3px;
	border: 1px solid #ccc;
}

textarea {
	height: 100px;
}



/*========================*/
/*FOOTER*/
/*========================*/

footer {
	background-color: #333;
	padding: 50px;
	font-size: 150%;
}

.footer-nav {
	list-style: none;
	float: left;
}

.social-links {
	list-style: none;
	float: right;
}


.footer-nav li,
.social-links li {
	display: inline-block;
	margin-right: 20px;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
	text-decoration: none;
	border: 0;
	color: #888;
	transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
	color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
	font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
	transition: color 0.2s;
}


.ion-social-facebook:hover {
	color: #3b5998;
}

.ion-social-twitter:hover {
	color: #00aced;
}

.ion-social-googleplus:hover {
	color: #dd4b39;
}

.ion-social-instagram:hover {
	color: #517fa4;
}

footer p {
	color: #888;
	text-align: center;
	margin-top: 30px;
}



/*========================*/
/*MEDIA QUERIES*/
/*========================*/

/* Large desktops and laptops */
@media (min-width: 1200px) {
	.overlay {
	    position:absolute;
	    top: 50%;
	    left: 10%;
	    z-index:1;
	    margin: 0;
	    padding: 0;
	    //background-color: gray;
	}

	.header-title {
		padding: 0;
		margin: 0;
	}
	
	.featured-items {
		width: 90%;
		margin: 0 auto;
	}

	.featured-box {
	background-color: #fff;
	}


	.featured-items h1 {
		padding-top: 75px;
	}

	.span-1-of-4 {
		padding-top: 20px;
	}

	img {
		width: 80%;
		height: auto;
	}
	.icons {
		line-height: 20px;
	}

	.toast  {
		text-transform: none;
		margin: 0 auto;
		padding: 60px;
		font-size: 400%;
		font-weight: 300;
		color: #000;
	}
	
	.lorem-section {
		height: 80vh;
		width: 80%;
		margin: 0 auto;
	}
	
	.ingredients,
	.instructions {
		font-size: 150%;
	}

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {


	.overlay {
	    position:absolute;
	    top: 60%;
	    left: 10%;
	    z-index:1;
	    margin: 0;
	    padding: 0;
	    //background-color: gray;
	}

	.header-title {
		font-size: 250%;
		padding: 0;
		margin: 0;
	}

	h1 {
		font-size: 180%;
	}

	h3 {
		font-size: 150%;
	}
	
	.featured-items {
		width: 85%;
		margin: 0 auto;
	}

	.featured-box {
		background-color: #fff;
	}


	.featured-items h1 {
		padding-top: 75px;
	}

	.span-1-of-4 {
		padding-top: 20px;
	}

	img {
		width: 80%;
		height: auto;
	}

	.icons {
		line-height: 10px;
	}

	.toast  {
		text-transform: none;
		margin: 0 auto;
		padding: 60px;
		font-size: 325%;
		color: #000;
	}
	
	.lorem-section {
		height: 80vh;
		width: 80%;
		margin: 0 auto;
	}
	
	.ingredients,
	.instructions {
		font-size: 140%;
	}

}



/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	
	.overlay {
	    position:absolute;
	    top: 55%;
	    left: 10%;
	    z-index:1;
	    margin: 0;
	    padding: 0;
	    //background-color: gray;
	}

	.header-title {
		font-size: 225%;
		padding: 0;
		margin: 0;
	}

	.main-nav {
		width: 100%;
	}

	h1 {
		font-size: 180%;
	}

	h3 {
		font-size: 120%;
	}
	
	.featured-items {
		width: 85%;
		height: 75vh;
		margin: 0 auto;
	}
	
	.icons {
		display: none;
	}


	.featured-items h1 {
		padding-top: 75px;
	}

	.span-1-of-4 {
		padding-top: 20px;
	}

	img {
		width: 80%;
		height: auto;
	}

	.icons {
		line-height: 10px;
	}

	.toast  {
		text-transform: none;
		margin: 0 auto;
		padding: 60px;
		font-size: 250%;
		color: #000;
	}
	
	.lorem-section {
		height: 80vh;
		width: 80%;
		margin: 0 auto;
	}
	
	.ingredients,
	.instructions {
		font-size: 120%;
	}



	form {
		font-size: 125%;
		width: 50%;
		//padding-bottom: 150px;
		margin: 0 auto;
	}


	footer {
		background-color: #333;
		padding: 50px;
		font-size: 125%;
	}

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	.overlay {
	    position:absolute;
	    top: 55%;
	    left: 10%;
	    z-index:1;
	    margin: 0;
	    padding: 0;
	    //background-color: gray;
	}

	.header-title {
		font-size: 200%;
		padding: 0;
		margin: 0;
	}

	.main-nav {
		width: 100%;
	}

	h1 {
		font-size: 180%;
	}

	h3 {
		font-size: 120%;
	}
	
	.featured-items {
		width: 85%;
		height: 75vh;
		margin: 0 auto;
	}
	
	.icons {
		display: none;
	}


	.featured-items h1 {
		padding-top: 75px;
	}

	.span-1-of-4 {
		padding-top: 20px;
	}

	img {
		width: 80%;
		height: auto;
	}

	.icons {
		line-height: 10px;
	}

	.toast  {
		text-transform: none;
		margin: 0 auto;
		padding: 60px;
		font-size: 250%;
		color: #000;
	}
	
	.lorem-section {
		height: 80vh;
		width: 80%;
		margin: 0 auto;
	}
	
	.ingredients,
	.instructions {
		font-size: 120%;
	}



	form {
		font-size: 125%;
		width: 50%;
		//padding-bottom: 150px;
		margin: 0 auto;
	}


	footer {
		background-color: #333;
		padding: 50px;
		font-size: 125%;
	}
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
	.overlay {
	    position:absolute;
	    top: 55%;
	    left: 10%;
	    z-index:1;
	    margin: 0;
	    padding: 0;
	    //background-color: gray;
	}

	.header-title {
		font-size: 175%;
		padding: 0;
		margin: 0;
	}

	.main-nav {
		width: 80%;
		display: none;
	}

	h1 {
		font-size: 120%;
	}

	h3 {
		font-size: 70%;
	}
	


	.featured-items {
		display: none;
	}
	
	.icons {
		display: none;
	}


	.featured-items h1 {
		padding-top: 75px;
	}

	.span-1-of-4 {
		padding-top: 20px;
	}

	.icons {
		line-height: 10px;
	}

	.toast  {
		text-transform: none;
		margin: 0 auto;
		padding: 60px;
		font-size: 200%;
		color: #000;
	}
	
	.lorem-section {
		height: 80vh;
		width: 80%;
		margin: 0 auto;
	}
	
	.ingredients,
	.instructions {
		font-size: 110%;
	}



	form {
		font-size: 125%;
		width: 100%;
		//padding-bottom: 150px;
		margin: 0 auto;
	}


	footer {
		background-color: #333;
		padding: 30px;
		font-size: 100%;
	}
}



