
/*========================*/
/*BASIC SETUP*/
/*========================*/


*
 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;   
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html {
	background-color: purple;
	color: #555;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 20px;
}


img {
    width: 100%;
    height: auto;
}


/*========================*/
/*REUSABLE ELEMENTS*/
/*========================*/  


.row {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
}

.container,
.grid {
    max-width: 1140px;
    margin: 0 auto;
    background-color: grey; 
  }



h1 {
	margin-top: 0;
	font-size: 240%;
	text-transform: uppercase;
	letter-spacing: 1px;
	word-spacing: 4px;

}

/*========================*/
/*NAVIGATION*/
/*========================*/



.main-nav {
	background-color: green;
	color: #fffff;
	list-style: none;
	text-align: center;
	padding: 20px 0 20px 0;
}

.main-nav li {
	display: inline-block;
	padding-right: 50px;
}

.main-nav li a:link,
.main-nav li a:visited {
	padding: 8px 0;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 90%;
	border-bottom: 2px solid transparent;
	transition: border-bottom 5s color 5s;
}

.main-nav li a:hover,
.main-nav li a:active {
	color: yellow;
	border-bottom: 2px solid #e67e22;
}



.three-pics {
	display: flex;
	justify-content: center;
	align-items: center;
}

.slider-title {
	z-index: 10000;
	font-size: 90px;
	text-align: left;
	position: absolute;
	width: 20%;
	color: pink;
	padding-top: 50px;
	padding-left: 20px;
}

.slider-container {
	overflow: hidden;
	height: 350px;
}

.slider-container figure div {
	width: 20%;
	float: left;
}

.slider-container figure img {
	width: 100%;
	float: left;
}

.slider-container figure {
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	animation-name: mySlider;
	animation-duration: 20s;
	animation-timing-function: ease-in-out;
	animation-delay: 0s;
	animation-iteration-count: infinite;
}

@keyframes mySlider {
	0% {
		left: 0%;
	}

	10% {
		left: 0%;
	}


	12% {
		left: -100%;
	}
	22% {
		left: -100%;
	}
	24% {
		left: -200%;
	}
	34% {
		left: -200%;
	}
	36% {
		left: -300%;
	}
	46% {
		left: -300%;
	}
	48% {
		left: -400%;
	}
	58% {
		left: -400%;
	}
	60% {
		left: -300%;
	}
	70% {
		left: -300%;
	}
	72% {
		left: -200%;
	}
	82% {
		left: -200%;
	}
	84% {
		left: -100%;
	}
	94% {
		left: -100%;
	}
	96% {
		left: 0%;
	}

form {
    width: 75%;
    padding: 2em;
    background-color: pink;
    border-radius:0.25em;
    box-shadow:0 0 2em rgba(0,0,0,0.2)
}

.form-container {
    display: flex;
    justify-content: center;
    background-color: coral;
    height: 50vh;

}

input, 
select {
    padding: 0.5em;
    font-size: 0.875em;
    background: blue;
    border: 1px solid #ccc;
    border-width: 5px 5px 5px 0;
    border-radius: 0;
    transition:0.5s;
}

input:focus,
select:focus {
    background:#fff;
    box-shadow:inset 0.1em 0.1em 0.25em rgba(0, 0, 0, 0.2);
    outline:0;
}




.form-field {
    display: flex;
    margin-bottom:1em;
}
//flex-grow, flex-shrink, flex-basis
.form-field label {
    flex: 0 1 3em;
    padding: 1em;
    background: #ccc;
    border: 1px solid #fff;
    font-size: 0.75em;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    line-height: 1;
}

.form-field input,
.form-field select {
    flex: 1;
}

.submitButton {
    flex-direction:row-reverse;
    //justify-content: flex-end;

}


input[type="submit"] {
    flex: 0 1 40%;
    padding: 0.5em;
    font-size: 1rem;
    text-shadow: 0 1px 0 #fff;
    background: #b0e35a;
    border-radius: 0.25em;
    border: 0;
    transition: 0.3s;
    cursor: pointer;
}
input[type="submit"]:hover {
    color:#fff;
    background:#cc3f85;
    text-shadow:0 1px 0 #000;
}





